$product-main-color: rgb(0, 128, 109);

.banner{
  padding: 1rem;
  color: white;
  background-color: $product-main-color;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  > h1{
    font-weight: 500;
    font-size: 1.5rem;
  } 
}


.baseWrapper {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-grow: 3;
  flex-shrink: 10;
  flex-flow: wrap;
  width: 100vw;
  // height: 100vh;
  background-color: var(--bacground-full);
  padding: 4rem;
  overflow-y: auto;
  overflow-x: hidden;

 
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android & Iphones) */
@media screen and (max-width: 780px) {
  .baseWrapper {
    padding: 2rem;
  }
}


@media only screen and (min-width:801px ) and (min-width: 768px){ 
  .baseWrapper {
    padding: 2rem;
  }

}

@media screen and (max-width: 480px ){ 
  .banner {
    &h1{
    font-weight: 400;
      font-size: 1rem;
    }
  

  }
}