// categories-styles.module.scss

.baseWrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-grow: 1;
    flex-flow: wrap;
    width: 100%;

    .categoryCard{
        padding: 1rem;
    }
 
  }
  