// categories-styles.module.scss
$product-main-color: rgb(0, 128, 109);
$small-screen: 768px;

.baseWrapper {
    background-color: var(--bacground-full);
    display: flex;
    width: 100%;
    height: fit-content;

    .categoryCard{
        padding: 1rem;
    }
 
    .paginationWrapper {
        display: flex;
        justify-content: space-between;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-grow: 1;
        flex-flow: wrap;
        width: 100%;
    
    
        button {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        
            &:hover {
              transform: scale(2.1);
            }
        
            &:disabled {
              cursor: not-allowed;
              opacity: 0.5;
            }
            
            svg {
              width: 2rem;
              height: 2rem;
              margin-right: 0.5rem;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            
            &.previous {
              svg {
                transform: rotate(180deg);
              }
            }
            
            &.next {
              svg {
                transform: rotate(0deg);
              }
            }
          }
        
    
    }      

  }
  
// RESPONIVENES MEDIA QUERIES FOR SMALL SCREENS
  @media screen and (max-width: $small-screen) {
    .paginationWrapper {
      button {
        &:not(.previous):not(.next) {
          display: none;
        }
      }
    }
    .baseWrapper .categoryCard:nth-child(n + 3) {
      display: none;
    }
  }
  