$product-main-color: rgb(0, 128, 109);

.tableWrapper table {
  border-collapse: collapse;
  font-size: 15.7px;
  width: -webkit-fill-available;

  .card {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: fit-content;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: white;

    .cardImageWrapper {
      height: 200px;
      overflow: hidden;

      .cardImage {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .cardDetails {
      padding: 10px;

      h2 {
        font-size: 1.2rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
        margin: 0;
      }
    }
  }

  .proImg {
    align-items: center;
    height: 40px;
    width: 40px;

    &:hover {
      height: 45px;
      width: 45px;
    }
  }

  th {
    padding: 1rem;
    color: $product-main-color;
    text-transform: uppercase;
    font-size: medium;
    font-stretch: semi-condensed;

    &:hover {
      background-color: var(--light-blue);
    }
  }

  td {
    text-align: center;
    padding: 0.8rem;

    &:last-child {
      color: var(--gradient-green);
      font-weight: 700;
    }

    &.imgTd {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  tr {
    cursor: pointer;

    &:nth-child(odd) {
      background-color: #e4eded78;
    }

    &:hover {
      background-color: #e4f7f876;
    }
  }

  // @media screen and (min-width: 768px) {
  //   .tableWrapper table {
  //     font-size: 2rem;

  //     .proImg {
  //       height: 50px;
  //       width: 50px;


  //       &:hover {
  //         height: 55px;
  //         width: 55px;
  //       }
  //     }
  //   }
  // }
}


@media screen and (max-width: 768px) {
  .tableWrapper table {
    font-size: 1rem;

    th {
      font-size: small;
      padding: 0.5rem;
    }

    td {
      font-size:x-small;
      padding: 0.5rem;
    }

    .proImg {
      height: 30px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .tableWrapper table {
    font-size: 0.8rem;

  th, td{
    font-size: 0.6rem;
  }

  .proImg {
    height: 20px;
    width: 20px;
  }

  th:nth-child(3),
  th:nth-child(7),
  tr td:nth-child(3),
  tr td:nth-child(7) {
  display: none;
}


}
}


@media screen and (max-width: 410px) {
  .tableWrapper table {
    font-size: 0.5rem;
  
  th {
    font-size: xx-small;
  }

  td {
    font-size:0.2rem;
    padding: 0;
  }

  .proImg {
    height: 20px;
    width: 20px;
  }

}
}